/* reset styles start ---------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button {
  font: inherit;
  color: inherit;
}

/* reset styles end */
/* global styles start ---------------------------------- */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  --orange-50: #ffefe6;
  --orange-100: #ffcfb0;
  --orange-200: #ffb78a;
  --orange-300: #ff9654;
  --orange-400: #ff8233;
  --orange-500: #ff6300;
  --orange-600: #e85a00;
  --orange-700: #b54600;
  --orange-800: #8c3600;
  --orange-900: #6b2a00;
  --body-bg: #fff;
  --elem-bg: rgba(0, 0, 0, 0.05);
  --txt-p: #000000;
  --txt-p-transparent: rgba(0, 0, 0, 0.7);
  --txt-s: #c3c3c3;
  font-size: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: var(--body-bg);
  color: var(--txt-p);
}

.con {
  width: 100%;
  margin-inline: auto;
  padding: 1rem;
}

@keyframes blink {
  100% {
    opacity: 1;
  }
}

@keyframes loadBar {
  25% {
    width: 40%;
  }

  50% {
    width: 75%;
  }

  75% {
    width: 100%;
  }

  100% {
    width: 100%;
  }
}

/* global styles end */
/* main styles start ---------------------------------- */

.header {
  width: 100%;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu__logo-img img {
  display: block;
  width: 100%;
  max-width: 2rem;
}

.menu__logo-text {
  font-weight: 900;
  font-size: 1.2rem;
  color: var(--txt-p);
  letter-spacing: 2px;
}

.menu__logo-text>span {
  color: var(--txt-p-transparent);
}

.menu__container {
  position: fixed;
  isolation: isolate;
  z-index: 10000000;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -100%;
  backdrop-filter: blur(2px);
  transition: all 0.3s ease;
}

.menu__container.active {
  right: 0;
}

.menu__list {
  position: absolute;
  top: 0;
  right: 0;
  width: 20rem;
  height: 100%;
  background-color: var(--body-bg);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow-y: auto;
  border-left: 1px solid var(--orange-100);
}

.menu__list-item {
  padding-block: 0.5rem;
  border-bottom: 1px solid var(--elem-bg);
}

.menu__link {
  width: max-content;
  transition: all 0.3s ease;
}

.menu__link:hover {
  color: var(--orange-400);
}

.menu__toggler {
  font-size: 1.5rem;
  color: var(--txt-p);
  transition: color 0.3s ease;
  cursor: pointer;
}

.menu__toggler:hover {
  color: var(--orange-400);
}

.close-btn,
.theme-btn {
  border: none;
}

.theme-btn>a {
  display: block;
  background-color: var(--orange-500);
  padding: 1rem 0.5rem;
  border-radius: 5px;
  color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  text-align: center;
  transition: all 0.3s ease;
}

.theme-btn>a:hover {
  color: black;
  box-shadow: none;
}

.hero,
.about {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.hero__content,
.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.hero__content-txt {
  font-weight: 700;
}

.hero__content-txt span {
  display: block;
  margin-top: 0.5rem;
  color: var(--orange-500);
  font-size: 1.2rem;
}

.hero__content-header {
  font-size: clamp(1.5rem, 1.5rem + 2vw, 5rem);
  min-height: clamp(5rem, 5rem + 2.5vw, 10rem);
  font-weight: 900;
}

.hero__content-tw {
  width: min-content;
  min-height: 1ch;
  word-break: keep-all;
  padding-left: 0.5em;
  letter-spacing: 2px;
  position: relative;
  line-height: 1.05;
}

.hero__content-tw::first-line {
  text-indent: -0.5em;
}

.blink::after {
  content: "";
  display: block;
  position: absolute;
  width: 1rem;
  height: 3px;
  background-color: var(--orange-500);
  bottom: 0;
  left: 100%;
  z-index: 10;
  opacity: 0;
  animation: blink infinite linear 0.5s;
}

.hero__content-desc {
  max-width: 500px;
  text-align: justify;
  line-height: 1.4;
  color: var(--txt-s);
}

.hero__content-btn {
  background-color: var(--orange-500);
  padding: 1rem 2rem;
  border: none;
  outline: transparent;
  border-radius: 5px;
  font-weight: 400;
  color: white;
  letter-spacing: 2px;
  width: max-content;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.hero__content-btn:hover {
  transform: scale(1.1);
}

.hero__image,
.about__image {
  flex-basis: 50%;
  max-width: 40rem;
}

.about__image {
  display: none;
}

.hero__image-img,
.about__image-img {
  position: relative;
  width: 70%;
  margin-inline: auto;
  border-radius: 0 0 200vw 200vw;
  overflow: hidden;
  margin-bottom: 1rem;
}

.hero__image-img::after,
.hero__image-img::before,
.about__image-img::after,
.about__image-img::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 50%;
}

.hero__image-img::before,
.about__image-img::before {
  border-bottom: 3px solid var(--orange-500);
  border-left: 3px solid var(--orange-500);
  border-right: 3px solid var(--orange-500);
  bottom: 0;
  border-radius: 0 0 200vw 200vw;
  z-index: 10;
}

.hero__image-img::after,
.about__image-img::after {
  border-top: 3px solid var(--orange-500);
  border-left: 3px solid var(--orange-500);
  border-right: 3px solid var(--orange-500);
  top: 10%;
  border-radius: 200vw 200vw 0 0;
  z-index: -10;
}

.about__image-img::after {
  top: 13%;
}

.hero__image-img>img,
.about__image-img>img {
  display: block;
  max-width: 100%;
  filter: drop-shadow(10px 20px 15px rgba(0, 0, 0, 0.5));
}

.hero__contact-list {
  width: 100%;
  max-width: 20rem;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.hero__contact-link {
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.hero__contact-link:hover {
  color: var(--orange-500);
}

.about__content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.about__content-header {
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
  font-weight: 600;
}

.about__content-txt {
  max-width: 500px;
  line-height: 1.4;
}

.about__content-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.about__content-listItem {
  width: 100%;
  max-width: 500px;
  background-color: var(--elem-bg);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.percent {
  width: 100%;
  height: 5px;
  background-color: var(--elem-bg);
  margin-block: 1rem;
  border-radius: 2rem;
}

.percent-bar {
  height: 100%;
  background-color: var(--orange-500);
  border-radius: 2rem;
  position: relative;
}

.percent-bar::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 2px solid var(--orange-500);
  background-color: whitesmoke;
  border-radius: 50%;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  z-index: 2;
}

.percent-bar::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: linear-gradient(to right, transparent, var(--orange-200));
  border-radius: 2rem;
}

.p-95 {
  width: 95%;
}

.p-80 {
  width: 80%;
}

.p-83 {
  width: 83%;
}

.p-93 {
  width: 93%;
}

.services,
.projects,
.testimonial {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.services__header,
.projects__header,
.testimonial__header {
  font-size: clamp(1rem, 1rem + 1vw, 3rem);
  font-weight: 600;
}

.services__txt,
.projects__txt,
.testimonial__txt {
  max-width: 500px;
  text-align: center;
  line-height: 1.2;
}

.services__container,
.projects__container {
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1rem;
}

.services__box {
  background-color: var(--elem-bg);
  border-radius: 5px;
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
  cursor: pointer;
}

.services__box>img {
  aspect-ratio: 1 / 1;
  object-fit: contain;
  max-width: 2rem;
}

.services__box-title {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 2px;
}

.services__box-desc {
  font-size: 0.8rem;
  line-height: 1.5;
}

.projects__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.projects__filter-btn {
  padding: 0.3rem 0.5rem;
  cursor: pointer;
  outline: transparent;
  border: 1px solid var(--txt-s);
  border-radius: 0.5rem;
  color: black;
  font: inherit;
  transition: border 0.3s ease;
}

.projects__filter-btn:hover {
  border-color: var(--orange-400);
}

.projects__filter-btn.active {
  background-color: var(--orange-500);
  color: white;
  border-color: transparent;
}

.projects__box {
  max-width: 15rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem 1rem;
  cursor: pointer;
}

.projects__box>img {
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
}

.projects__box-type {
  font-size: 1rem;
  color: var(--orange-500);
}

.projects__box-title {
  font-size: 0.8rem;
}

.testimonial {
  padding-inline: 1rem;
  overflow: hidden;
}

.testimonial__container {
  width: 100%;
  padding-block: 1rem;
}

.testimonial__slider {
  width: 90%;
  margin-inline: auto;
}

.slider { /* transition here ))))))))))))))))))))) */
  width: 100%;
  display: flex;
  gap: 1rem;
  transform: translateX(calc(-200% - 2rem));
}

.slider__item {
  min-width: 100%;
  opacity: 0.3;
  background-color: var(--elem-bg);
  border-radius: 10px;
  padding: 1rem;
  display: grid;
  grid-auto-columns: 1fr;
  gap: 1rem;
  place-items: center;
  grid-template-areas:
    "u-img"
    "u-name"
    "u-pos"
    "u-com";
}

.slider__item.active{
  opacity: 1;
}

.slider__item>img {
  grid-area: u-img;
  border-radius: 50%;
}

.user-name {
  grid-area: u-name;
  font-size: 1.2rem;
  font-weight: 700;
}

.user-position {
  grid-area: u-pos;
  font-weight: 500;
}

.user-comment {
  grid-area: u-com;
  text-align: center;
  font-size: 0.8rem;
  line-height: 1.5;
}

.quotes{
  color: var(--orange-500);
  font-size: 1.2rem;
  line-height: 0;
}

.testimonial__controls{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.testimonial__controls-btn{
  margin-block: 1.5rem;
  width: 2rem;
  height: 8px;
  background-color: var(--elem-bg);
  border-radius: 20px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.testimonial__controls-btn:hover{
  background-color: var(--orange-500);
}

.testimonial__controls-btn.active{
  background-color: var(--orange-500);
}

/* main styles end */
/* responsive styles start ---------------------------------- */

@media screen and (min-width: 540px) {

  .services__container,
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768px) {

  .header {
    width: 90%;
    margin-inline: auto;
  }

  .menu {
    box-shadow: none;
    padding-inline: 0;
    padding-block: clamp(1rem, 1rem + 0.5vw, 1.5rem);
  }

  .con {
    width: 90%;
    padding: 0;
  }

  .hero,
  .about {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .about__image {
    display: block;
  }

  .services,
  .projects,
  .testimonial {
    margin-top: 6rem;
  }

  .testimonial__slider {
    width: 75%;
  }

  .slider__item {
    gap: 0.5rem;
    grid-template-areas: 
      "u-img u-com u-com"
      "u-img u-com u-com"
      "u-img u-name u-name"
      "u-img u-pos u-pos";
  }

  .user-name,
  .user-position{
    justify-self: start;
  }
}

@media screen and (min-width: 940px) {
  .con {
    width: 80%;
  }

  .header {
    width: 80%;
  }

  .menu__toggler {
    display: none;
  }

  .menu__container {
    position: static;
    width: auto;
    height: auto;
  }

  .menu__list {
    position: static;
    width: auto;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: 0.8rem;
    border: none;
    font-size: 0.8rem;
  }

  .menu__list-item:not(:last-child) {
    padding: 0;
    border: none;
  }

  .close-btn {
    display: none;
  }

  .menu__logo-img img {
    max-width: 3rem;
  }

  .services__container {
    grid-template-columns: repeat(4, 1fr);
  }

  .projects__container {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimonial__slider {
    width: 50%;
  }
}

@media screen and (min-width: 1200px) {
  .menu__list {
    gap: 1.2rem;
    font-size: 1.1rem;
  }

  .menu__logo-img img {
    max-width: 4rem;
  }

  .menu__logo-text {
    font-size: 2rem;
  }
}

/* responsive styles end */